/* line 1, ../sass/psp-budget.scss */
.psp-hide,
.psp-expense-hide {
  display: none;
}

/* line 7, ../sass/psp-budget.scss */
.psp-budget-license-table input[type='submit'] {
  display: inline-block;
  margin: 0 5px;
}

/* line 13, ../sass/psp-budget.scss */
.psp-expense-option-table {
  margin-bottom: 30px;
}

/* line 17, ../sass/psp-budget.scss */
.psp-add-expense-form {
  margin: 30px 0;
}

/* line 21, ../sass/psp-budget.scss */
.psp-add-expense-form th {
  vertical-align: top;
}

/* line 25, ../sass/psp-budget.scss */
.psp-editing {
  display: none;
}

/* line 29, ../sass/psp-budget.scss */
.psp-expense-table label {
  font-weight: bold;
  display: block;
  color: #333;
}

/* line 35, ../sass/psp-budget.scss */
.psp-expense-table label.psp-edit-checkbox {
  font-weight: normal;
}

/* line 39, ../sass/psp-budget.scss */
.psp-expense-table td {
  vertical-align: top;
}

/* line 43, ../sass/psp-budget.scss */
.psp-expense-table textarea,
.psp-expense-table input[type='text'],
.psp-expense-table input[type='number'] {
  width: 100%;
  padding: 5px;
  font-size: 12px;
}

/* line 51, ../sass/psp-budget.scss */
.psp-expense-edit-actions-td {
  vertical-align: middle !important;
}

/* line 55, ../sass/psp-budget.scss */
tr.type-psp_expenses .row-actions {
  display: none;
}

/* line 59, ../sass/psp-budget.scss */
.psp-expense-table-total-delayed {
  font-weight: bold !important;
  text-align: right !important;
}

/* line 64, ../sass/psp-budget.scss */
.psp-budget-bar .psp-0 b,
.psp-budget-bar .psp-1 b,
.psp-budget-bar .psp-2 b,
.psp-budget-bar .psp-3 b,
.psp-budget-bar .psp-4 b,
.psp-budget-bar .psp-5 b,
.psp-budget-bar .psp-6 b,
.psp-budget-bar .psp-7 b,
.psp-budget-bar .psp-8 b,
.psp-budget-bar .psp-9 b,
.psp-budget-bar .psp-10 b {
  display: none;
}

/* line 79, ../sass/psp-budget.scss */
.pspb-budget-widget {
  margin: 0 0 30px 0;
}

/* line 83, ../sass/psp-budget.scss */
body.post-type-psp_expenses a.page-title-action,
body.post-type-psp_expenses .subsubsub {
  display: none;
}

/* line 88, ../sass/psp-budget.scss */
body.post-type-psp_expenses .tablenav .actions {
  overflow: visible;
}

/* line 92, ../sass/psp-budget.scss */
.SumoSelect {
  float: left;
  margin-right: 5px;
}

/* line 97, ../sass/psp-budget.scss */
.pspb_posts_per_page {
  float: none !important;
  display: inline-block;
}

/* line 102, ../sass/psp-budget.scss */
.SumoSelect .SelectBox {
  padding: 3px 8px;
}

/* line 106, ../sass/psp-budget.scss */
.SumoSelect > .CaptionCont {
  border: 1px solid #ddd;
}

/** Front End **/
/* line 114, ../sass/psp-budget.scss */
#psp-projects .pspb-budget-overview-widget p.psp-progress {
  background: #fff;
}
/* line 116, ../sass/psp-budget.scss */
#psp-projects .pspb-budget-overview-widget p.psp-progress b {
  font-size: 12px;
}
/* line 120, ../sass/psp-budget.scss */
#psp-projects .pspb-budget-overview-widget table.psp-table td {
  background: #fff;
  border-right: 1px solid #efefef;
}
/* line 125, ../sass/psp-budget.scss */
#psp-projects .psp-expense-table,
#psp-projects .pspb-budget-widget {
  margin: 0 0 30px 0;
}
/* line 129, ../sass/psp-budget.scss */
#psp-projects .psp-budget-bar {
  margin: 0 0 5px 0;
}
/* line 131, ../sass/psp-budget.scss */
#psp-projects .psp-budget-bar .psp-1 b,
#psp-projects .psp-budget-bar .psp-2 b,
#psp-projects .psp-budget-bar .psp-3 b,
#psp-projects .psp-budget-bar .psp-4 b,
#psp-projects .psp-budget-bar .psp-5 b,
#psp-projects .psp-budget-bar .psp-6 b,
#psp-projects .psp-budget-bar .psp-7 b,
#psp-projects .psp-budget-bar .psp-8 b,
#psp-projects .psp-budget-bar .psp-9 b,
#psp-projects .psp-budget-bar .psp-10 b {
  display: none;
}
/* line 143, ../sass/psp-budget.scss */
#psp-projects .psp-budget-bar .psp-progress {
  background: #f1f1f1;
}
/* line 145, ../sass/psp-budget.scss */
#psp-projects .psp-budget-bar .psp-progress span {
  background: #4ecdc4;
}
/* line 150, ../sass/psp-budget.scss */
#psp-projects #psp-budgeting {
  clear: both;
}
/* line 153, ../sass/psp-budget.scss */
#psp-projects .psp-budget-table {
  margin-bottom: 20px;
}
/* line 155, ../sass/psp-budget.scss */
#psp-projects .psp-budget-table td {
  padding: 20px;
}
/* line 160, ../sass/psp-budget.scss */
#psp-projects .psp-expense-table th, #psp-projects .psp-expense-table td {
  padding: 15px !important;
}
/* line 162, ../sass/psp-budget.scss */
#psp-projects .psp-expense-table th:first-child, #psp-projects .psp-expense-table td:first-child {
  max-width: 100px;
}
/* line 165, ../sass/psp-budget.scss */
#psp-projects .psp-expense-table th input, #psp-projects .psp-expense-table td input {
  max-width: 100%;
  font-size: 12px;
}
/* line 170, ../sass/psp-budget.scss */
#psp-projects .psp-expense-table .psp-expense-table {
  background: #fff;
}
/* line 172, ../sass/psp-budget.scss */
#psp-projects .psp-expense-table .psp-expense-table td, #psp-projects .psp-expense-table .psp-expense-table th {
  background: #777;
  color: #fff;
  padding: 5px;
}
/* line 179, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list {
  background: #fff;
}
/* line 181, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list table {
  width: 100%;
  border-collapse: collapse;
  border: 15px solid #fff;
  border-top: 0;
}
/* line 186, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list table td, #psp-projects #psp-expense-list table th {
  padding: 10px;
  font-size: 12px;
}
/* line 190, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list table th {
  color: #666;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #333;
  background: #fff;
}
/* line 198, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list table td {
  background: #fff;
  border-bottom: 1px solid #ddd;
}
/* line 203, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list table tfoot td,
#psp-projects #psp-expense-list table tfoot th {
  color: #333;
  border-bottom: 2px solid #fff;
  background: #fafafa;
  color: #333;
  font-weight: bold;
}
/* line 211, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list table tfoot th {
  text-align: right;
  background: #fff;
}
/* line 217, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list .psp-expense-actions-td {
  text-align: right;
}
/* line 219, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list .psp-expense-actions-td a {
  padding: 0 5px;
  text-decoration: none;
  color: #777;
  display: inline-block;
}
/* line 224, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list .psp-expense-actions-td a span {
  display: none;
}
/* line 227, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list .psp-expense-actions-td a:hover {
  color: #000;
}
/* line 234, ../sass/psp-budget.scss */
#psp-projects.psp-dashboard-page .psp-budget-bar {
  margin-bottom: 1px;
}
/* line 239, ../sass/psp-budget.scss */
#psp-projects .psp-expense-actions a {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 11px;
  background: #000;
  text-decoration: none;
  line-height: 25px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  transition: all ease-in-out 250ms;
}
/* line 251, ../sass/psp-budget.scss */
#psp-projects .psp-expense-actions a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}
/* line 256, ../sass/psp-budget.scss */
#psp-projects .psp-expense-actions .js-psp-edit-expense a {
  background: #4ecdc4;
}
/* line 260, ../sass/psp-budget.scss */
#psp-projects .psp-new-expense-cats label {
  display: block;
}
/* line 263, ../sass/psp-budget.scss */
#psp-projects .psp-new-expense-row input[type='number'] {
  background: #f3f3f3;
  border: 0px !important;
  color: #333;
  padding: 10px !important;
  font-size: 12px;
}
/* line 270, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list {
  margin-top: -30px;
  padding: 20px;
  background: #f1f2f7;
}
/* line 274, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list table.psp-table {
  background: #fff;
}
/* line 276, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list table.psp-table th {
  padding: 10px !important;
  background: rgba(0, 0, 0, 0.1);
  color: #666 !important;
}
/* line 281, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list table.psp-table td {
  font-size: 12px;
}
/* line 284, ../sass/psp-budget.scss */
#psp-projects #psp-expense-list table.psp-table tr:nth-child(even) td {
  background: rgba(0, 0, 0, 0.05);
}
/* line 290, ../sass/psp-budget.scss */
#psp-projects .psp-add-expense-form h3 {
  margin-bottom: 15px;
}
